.txt {
    border: 1px #777777 dashed;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #fafafa;
    width: 680px;
    font-family: monospace;
    font-size: 14px;
    margin-bottom: 5px;
}